<tcshop-header></tcshop-header>
<p-toast></p-toast>
<div class="aboutpage">
  <h1>BILLING DETAILS</h1>
  <div class="contact-us">
    <div class="container">
      <div class="content">
        <div class="left-side">
          <img src="../../../assets/images/logo-black.png" alt="">
          <a routerLink="/cart" class="continue">BACK TO CART</a>
          <div class="subtotal cf">
            <ul>
              <li class="totalRow"><span class="label">Subtotal</span><span class="value">₹{{totalPrice}}</span></li>

              <li class="totalRow"><span class="label">Shipping</span><span class="value">FREE</span></li>

              <li class="totalRow"><span class="label">Tax</span><span class="value">₹0.00</span></li>
              <li class="totalRow"><span class="labelfinal">Total</span><span class="valuefinal">₹{{totalPrice}}</span>
              </li>
              <li class="totalRow btn">
                <button (click)="placeOrder()">PLACE-ORDER</button>
              </li>
            </ul>
          </div>
        </div>
        <div class="right-side">
          <div class="article">
            <form [formGroup]="form">
              <div class="p-fluid p-formgrid p-grid">

                <div class="p-field p-col-12 p-md-6">
                  <label for="name">NAME</label>
                  <input formControlName="name" id="name" type="text" pInputText>
                  <small *ngIf="form.controls.name.invalid && isSubmitted" class="p-error">NAME IS
                    REQUIRED!!!</small>
                </div>

                <div class="p-field p-col-12 p-md-6">
                  <label for="email">EMAIL</label>
                  <input formControlName="email" id="email" type="email" pInputText>
                  <small *ngIf="form.controls.email.invalid && isSubmitted" class="p-error">
                    <span *ngIf="form.controls.email.errors?.required">EMAIL IS REQUIRED!!!</span>
                    <span *ngIf="form.controls.email.errors?.email">EMAIL IS INVALID!!!</span>
                  </small>
                </div>

                <div class="p-field p-col-12 p-md-6">
                  <label for="phone">PHONE</label>
                  <p-inputNumber formControlName="phone" mode="decimal" inputId="phone" [useGrouping]="false">
                  </p-inputNumber>
                  <small *ngIf="form.controls.phone.invalid && isSubmitted" class="p-error">PHONE IS REQUIRED!!!</small>
                </div>

                <div class="p-field p-col-12 p-md-6">
                  <label for="street">STREET</label>
                  <input formControlName="street" id="street" type="text" pInputText>
                  <small *ngIf="form.controls.street.invalid && isSubmitted" class="p-error">STREET IS
                    REQUIRED!!!</small>
                </div>

                <div class="p-field p-col-12 p-md-6">
                  <label for="apartment">APARTMENT</label>
                  <input formControlName="apartment" id="apartment" type="text" pInputText>
                  <small *ngIf="form.controls.apartment.invalid && isSubmitted" class="p-error">APARTMENT IS
                    REQUIRED!!!</small>
                </div>

                <div class="p-field p-col-12 p-md-6">
                  <label for="city">CITY</label>
                  <input formControlName="city" id="city" type="text" pInputText>
                  <small *ngIf="form.controls.city.invalid && isSubmitted" class="p-error">CITY IS REQUIRED!!!</small>
                </div>

                <div class="p-field p-col-12 p-md-6">
                  <label for="pincode">PINCODE</label>
                  <p-inputNumber formControlName="pincode" mode="decimal" inputId="pincode" [useGrouping]="false">
                  </p-inputNumber>
                  <small *ngIf="form.controls.pincode.invalid && isSubmitted" class="p-error">PINCODE IS
                    REQUIRED!!!</small>
                </div>

                <div class="p-field p-col-12 p-md-6">
                  <label for="country">COUNTRY</label><br>
                  <p-dropdown [options]="countries" [filter]="true" filterBy="name" placeholder="SELECT A COUNTRY"
                    formControlName="country" optionLabel="name" optionValue="id" [showClear]="true"></p-dropdown>
                  <small *ngIf="form.controls.country.invalid && isSubmitted" class="p-error">COUNTRY IS
                    REQUIRED!!!</small>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<tcshop-footer></tcshop-footer>
