<tcshop-header></tcshop-header>
<div class="aboutpage">
  <h1>ABOUT US</h1>
  <div class="contact-us">
    <div class="container">
      <div class="content">
        <div class="left-side">
          <img src="../../../assets/images/logo-black.png" alt="">
        </div>
        <div class="right-side">
          <div class="article">
            <p>
              We offer a platform to both who like to design cards and want their talent to be acknowledged by others
              and
              those who seek different designs in the form of cards for their personal purpose.
              This platform would benefit people in buying and selling their cards design.The creator can upload the
              digital copy of the card on the creator panel and the customer would be able to view them and place an
              order.
              The interests of the person may vary and that is why we accept different categories of cards. This gives
              us
              versatility. From playing cards for children to business cards designs for professional,
              all under one roof.<br><br>

              On TC-SAGA, a worldwide network of creators and designers creates original trading cards for everyone to
              discover and enjoy. Open packs and trade to complete series, earn badges, and collect limited-edition
              cards. The joy and nostalgia of collecting is captured in this social marketplace that never runs out of
              beautiful and inventive collectibles.<br><br>

              TC-SAGA’s team of designers, developers, and marketers is passionate about delivering a high quality
              digital collecting experience to our community of collectors and creators.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="aboutus">
    <h1>OUR TEAM</h1>
    <section class="container2">
      <div class="card">
        <div class="bgimage">
          <img src="../../../assets/images/SL_0210121_40570_57.jpg" alt="">
        </div>
        <div class="pic">
          <img src="../../../assets/images/Akshata.png" alt="">
        </div>
        <div class="info">
          <h3>AKSHATA GUPTA</h3>
          <span>WEB DESIGNER</span>
          <div id="icon-container">
            <a href="#">
              <div id="icon">
                <i class="fab fa-twitter"></i>
              </div>
            </a>
            <a href="#">
              <div id="icon">
                <i class="fab fa-instagram"></i>
              </div>
            </a>
            <a href="#">
              <div id="icon">
                <i class="fab fa-facebook-f"></i>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="bgimage">
          <img src="../../../assets/images/SL_0210121_40570_57.jpg" alt="">
        </div>
        <div class="pic">
          <img src="../../../assets/images/Khusboo.png" alt="">
        </div>
        <div class="info">
          <h3>KHUSHBOO SOLANKI</h3>
          <span>WEB DESIGNER</span>
          <div id="icon-container">
            <a href="#">
              <div id="icon">
                <i class="fab fa-twitter"></i>
              </div>
            </a>
            <a href="#">
              <div id="icon">
                <i class="fab fa-instagram"></i>
              </div>
            </a>
            <a href="#">
              <div id="icon">
                <i class="fab fa-facebook-f"></i>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="bgimage">
          <img src="../../../assets/images/SL_0210121_40570_57.jpg" alt="">
        </div>
        <div class="pic">
          <img src="../../../assets/images/Shashwat.png" alt="">
        </div>
        <div class="info">
          <h3>SHASHWAT SHARMA</h3>
          <span>WEB DESIGNER</span>
          <div id="icon-container">
            <a href="#">
              <div id="icon">
                <i class="fab fa-twitter"></i>
              </div>
            </a>
            <a href="#">
              <div id="icon">
                <i class="fab fa-instagram"></i>
              </div>
            </a>
            <a href="#">
              <div id="icon">
                <i class="fab fa-facebook-f"></i>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="bgimage">
          <img src="../../../assets/images/SL_0210121_40570_57.jpg" alt="">
        </div>
        <div class="pic">
          <img src="../../../assets/images/Utkarsh.png" alt="">
        </div>
        <div class="info">
          <h3>UTKARSH TIWARI</h3>
          <span>WEB DESIGNER</span>
          <div id="icon-container">
            <a href="#">
              <div id="icon">
                <i class="fab fa-twitter"></i>
              </div>
            </a>
            <a href="#">
              <div id="icon">
                <i class="fab fa-instagram"></i>
              </div>
            </a>
            <a href="#">
              <div id="icon">
                <i class="fab fa-facebook-f"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
  <tcshop-footer></tcshop-footer>
