<div class="footer">
  <div class="col-4 text-center about">
    <h3>ABOUT</h3>
    <p class="aboutus">
      Collect your favourite cards with different categories according your choices and interests. We provide wide
      range of playing cards,cartoon cards,business cards,etc. Buy the designs and use as per your interests.
    </p>
  </div>
  <div class="col-4 text-center middle">
    <div id="icon-container">
      <a href="#">
        <div id="icon">
          <i class="fab fa-twitter"></i>
        </div>
      </a>
      <a href="#">
        <div id="icon">
          <i class="fab fa-instagram"></i>
        </div>
      </a>
      <a href="#">
        <div id="icon">
          <i class="fab fa-facebook-f"></i>
        </div>
      </a>
    </div>
    <div class="logo">
      <img src="../../../assets/images/logo-white.png" alt="">
      <p> TRADING-CARDS SAGA © 2021</p>
    </div>
  </div>
  <div class="col-4 text-center contact">
    <h3>CONTACT-US</h3>
    <p>
      SVVV, Campus : Indore – Ujjain Road,<br>
      Indore – 453111<br>
      +0098 9893 5647<br>
      tcsaga0910@gmail.com<br>
    </p>
  </div>
</div>
