<tcshop-header></tcshop-header>
<div class="thankpage">
  <div class="thankus">
    <div class="container">
      <div class="content">
        <img src="../../../assets/images/logo-black.png" alt="">
        <i class='bx bxs-check-circle'></i>
        <h1>THANK YOU for shopping with us!!!</h1>
        <h6>We have recieved your order and it will be delivered in next 3-5 Business Days...</h6>
        <button routerLink="/cards">CONTINUE SHOPPING</button>
      </div>
    </div>
  </div>
</div>
<tcshop-footer></tcshop-footer>
