<div class="sidebar">
  <div class="logo-details">
    <img src="../../../assets/images/icon-w.png" alt="">
    <span class="logo_name">TC SAGA</span>
  </div>
  <hr>
  <ul class="nav-links">
    <li>
      <a routerLink="/">
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="/products">
        <i class='bx bx-box'></i>
        <span class="links_name">Products</span>
      </a>
    </li>
    <li>
      <a routerLink="/categories">
        <i class='bx bx-list-ul'></i>
        <span class="links_name">Categories</span>
      </a>
    </li>
    <li>
      <a routerLink="/orders">
        <i class='bx bx-book-alt'></i>
        <span class="links_name">Orders</span>
      </a>
    </li>
    <li>
      <a routerLink="/users">
        <i class='bx bx-user'></i>
        <span class="links_name">Users</span>
      </a>
    </li>
    <li>
      <a routerLink="/contacts">
        <i class='bx bxs-contact'></i>
        <span class="links_name">CONTACT-FORM</span>
      </a>
    </li>
    <!-- <li>
      <a routerLink="/admins">
        <i class='bx bxs-face-mask'></i>
        <span class="links_name">ADMINS</span>
      </a>
    </li>
    <li>
      <a routerLink="/creators">
        <i class='bx bx-palette'></i>
        <span class="links_name">CREATORS</span>
      </a>
    </li> -->
    <li>
      <a routerLink="/user-profile">
        <i class='bx bxs-user-account'></i>
        <span class="links_name">profile</span>
      </a>
    </li>
    <li class="log_out">
      <a routerLink="/dashboard" (click)="onLogout()">
        <i class='bx bx-log-out'></i>
        <span class="links_name">Log out</span>
      </a>
    </li>
  </ul>
</div>
